
<%= stylesheet_link_tag "posts" %>
    <section>
      <div class="container-fluid">
        <h2>Welcome to NIGHTOwL Blogs.</h2>
      </div>
      <div class="blogs">
      </div>

    </section>
    <footer>
      <%= render "posts/footer" %>
    </footer>
