// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header {
    height: 5.5vh;
    font-family: 'Courier New', Courier, monospace;
}
.headwrapper {
    display: flex;
    align-items: center;
}   
.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar-dark .navbar-brand {
    color: #231f20;
}

.navbar-dark .navbar-nav .nav-link {
    color: #231f20;
}

#navbardrop {
    color: #231f20;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 0px 1rem;
    margin: 0 0.5rem;
    border: 0.1rem solid #231f20;
    border-radius: 0.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
}

.dropdown-menu > a:nth-child(2){
    padding: 0px 1rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
}

.btn-success{
    background-image: linear-gradient(to bottom, #231f20 0%, #231f20 100%);
    border-color: #28528c;
}

.bg-dark {
    background-color: #5faac7 !important;
    border-bottom: 0.3rem solid #fffdfe;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

section {
    background-image: url("bg.png");
    background-position: center;
    height:90vh;
    overflow: scroll;
    font-family: 'Courier New', Courier, monospace;

}

section .container-fluid {
    display: flex;
    justify-content: center;
}


.blogs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container-fluid > h2:nth-child(1) {
    color: rgb(255, 255, 255);
    height: 10%;
}

.container {
    width: 42rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    border-radius: 0.5rem;
    border: 0.25rem solid #fffdfe;
    outline: 0.3rem solid #0b8cbf;
    -moz-outline-radius: 0.7rem;
    padding: 0px 0px !important;
}

.form-wrapper {
    width: 45rem;
    height:45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000c;
    border: 0.3rem solid #fffdfe;
    outline: 0.3rem solid #0b8cbf;
    -moz-outline-radius: 0.7rem;
    margin: 2rem 2rem;
    border-radius: 0.5rem;
}

.form-wrapper label {
    color: white;
}

.new{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.blog-header {
    height: 15%;
    color: #000;
    align-items: center;
    background-color: #5faac7;
    border-bottom: 0.2rem solid #fffdfe;
    justify-content: center;
    width: 100%;
    display: flex;
}

.blog-content {
    height: 75%;
    justify-items: center;
    width: 100%;
    display: flex;
    background: #000c;
    flex-direction: column;
}

.blog-content span {
    text-align: center;
}

.blog-content p a {
    color: #27dafa;
}

.blog-content p {
    text-align: center;
    color: white;
    margin: 1rem 1rem;
}

.blog-footer {
    width: 100%;
    height: 10%;
    background-color: #5faac7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.2rem solid #fffdfe;
}

.blog-footer a {
   color: #231f20;
}

.like-wrapper {
    display: flex;
    justify-content: center;
    width: 50%;
    border-right: 0.2rem solid #fffdfe;
    height: 100%;
    align-items: center;
}

.comment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-left: 0.1rem solid #fffdfe;
    height: 100%;
}

footer {
    height: 4.5vh;
    background-color: #5faac7 !important;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #231f20;
    border-top: 0.3rem solid #fffdfe;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}


